flows.json
[{"id":"1dda9e8c.28e411","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b1b11140.4e4ef","type":"inject","z":"1dda9e8c.28e411","name":"hello","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"hello","payloadType":"str","x":111,"y":61,"wires":[["5b7243b8.91f11c"]]},{"id":"5b7243b8.91f11c","type":"watson-conversation-v1","z":"1dda9e8c.28e411","name":"MTBooking","workspaceid":"5c307af2-0b02-4a00-b278-d3f4b0c0014e","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/5a0bc56c-e509-4b6c-88c5-c1b40d561a3c","timeout":"","optout-learning":false,"x":410,"y":40,"wires":[["f8ccb068.ea889"]]},{"id":"f8ccb068.ea889","type":"function","z":"1dda9e8c.28e411","name":"Parsing","func":"msg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":180,"wires":[["f4e25210.94e1","a6366ad0.e00c48"]]},{"id":"6cc37e08.c11dd","type":"ui_form","z":"1dda9e8c.28e411","name":"","label":"","group":"74ebdd7f.821944","order":1,"width":0,"height":0,"options":[{"label":"Enter your query","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":160,"wires":[["ee8513e.962fef"]],"icon":"node-red/arrow-in.svg"},{"id":"ee8513e.962fef","type":"function","z":"1dda9e8c.28e411","name":"input parsing","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":230,"y":160,"wires":[["5b7243b8.91f11c","bb15937a.aa8ce"]]},{"id":"bb15937a.aa8ce","type":"ui_text","z":"1dda9e8c.28e411","group":"74ebdd7f.821944","order":2,"width":0,"height":0,"name":"","label":"You","format":"{{msg.payload}}","layout":"row-spread","x":430,"y":280,"wires":[]},{"id":"f4e25210.94e1","type":"ui_text","z":"1dda9e8c.28e411","group":"74ebdd7f.821944","order":3,"width":0,"height":0,"name":"","label":"Bot","format":"{{msg.payload}}","layout":"row-spread","x":710,"y":240,"wires":[]},{"id":"a6366ad0.e00c48","type":"debug","z":"1dda9e8c.28e411","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":740,"y":80,"wires":[]},{"id":"74ebdd7f.821944","type":"ui_group","z":"","name":"Chat Bot","tab":"2d1bc9cf.195446","order":1,"disp":true,"width":"6","collapse":false},{"id":"2d1bc9cf.195446","type":"ui_tab","z":"","name":"Movie Ticketing","icon":"dashboard","disabled":false,"hidden":false}]